* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}
nav {
    overflow: hidden;
    background-color: darkslategrey;
}
nav .item {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}
.column {
    float: left;
    padding: 15px;
}
.side {
    width: 20%;
}
.middle {
    width: 60%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px){
    .column {
        width: 100%;
    }  
}
footer {
    text-align: center;
    padding: 25px;
    background-color: lightgray;
}