#white{
    background-color: #fff;
    width: 50%;
    height: 300px;
    padding: 5px;
}
#red{
    background-color: red;
    width: 75%;
    height: 200px;
    padding: 5px;
}
#yellow {
    background-color: yellow;
    height: 100px;
    width: 50%;
    text-align: center;
}