body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type=text],
input[type=password],
input[type=email],
input[type=submit],
select {
    box-shadow: 5px 5px lightgray;
    box-sizing: border-box;
    margin: 10px;
    padding: 12px 20px;
    color: #fff;
    background-color: #fa6432;
    width: 20%;
}
::placeholder {
    color: lightgray;
    opacity: 1;
}
